//colors
$dodger_blue: dodgerblue;
$white: #fff;
$color_star_dust_approx: #9c9c9c;
$color_chicago_approx: #5a5959;
$gray: grey;
$black:  black;
$color_dodger_blue_approx: #2196f3;
$color_mercury_approx: #e7e7e7;
$color_azure_radiance_approx: #018dfe;

//fonts
$font_0: Arial;
$font_1: Helvetica;
$font_2: sans-serif;

body {
	margin: 0;
	font-family: $font_0, $font_1, $font_2;
}
.button {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	border: 2px solid $black;
	background-color: $white;
	color: $black;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	margin: 10px;
}
.button--state-info {
	border-color: $color_dodger_blue_approx;
	color: $dodger_blue;
	font-size: 12px;
	float: right;
	&:hover {
		background: $color_dodger_blue_approx;
		color: $white;
	}
}
.button--state-default {
	border-color: $color_mercury_approx;
	color: $black;
	margin-top: 40px;
	margin-left: 40%;
	&:hover {
		background: $color_mercury_approx;
	}
}
.profile-picture {
	position: relative;
	top: 55px;
	z-index: 10;
	margin: 20px;
	margin-top: 5%;
}
img {
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 10px 3px $color_mercury_approx;
	width: 230px;
}
.topnav {
	background-color: $white;
	overflow: hidden;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: -1px 1px 3px $color_star_dust_approx;
	a {
		float: left;
		color: $color_chicago_approx;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		&:hover {
			background: linear-gradient($white 93%, $color_azure_radiance_approx 7%);
			color: $black;
		}
		&.active {
			background: linear-gradient($white 93%, $color_azure_radiance_approx 7%);
			color: $black;
		}
	}
	p {
		position: relative;
		left: 28%;
		color: $color_chicago_approx;
		text-align: center;
		padding: 14px;
		margin: 0;
		text-decoration: none;
	}
}
.menu-right {
	margin-left: 19%;
}
.review {
	position: absolute;
	z-index: 10;
	right: 20px;
	top: 20%;
}
.review--stars {
	margin-right: 15px;
	color: $color_azure_radiance_approx;
}
.details {
	padding: 50px;
}
.ion-md-create {
	margin-left: 20px;
	background-color: $gray;
	padding: 8px 15px;
	&:hover {
		background-color: $color_azure_radiance_approx;
		color: $white;
		cursor: pointer;
		padding: 8px 15px;
	}
}
.desktop-hide {
	display: none;
}
@media only screen and(max-device-width: 414px) {
	body {
		font-size: 50px;
	}
	img {
		width: 500px;
		display: flex;
		margin-left: 30%;
	}
	.button--state-info {
		border: none;
		color: $dodger_blue;
		font-size: 40px;
		float: right;
	}
	.hide {
		display: none;
    }
    .profile {
        width: 100%;
    }
	.profile-picture {
		position: relative;
		top: 55px;
		z-index: 10;
		display: block;
	}
	.container {
		padding: 50px;
		div {
			display: block;
		}
	}
	.review {
		position: relative;
		z-index: 10;
		right: 0;
        margin-top: -110px;
        display: inline-grid;
	}
	.topnav {
		background-color: $white;
		overflow: hidden;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: -1px 1px 7px 2px $color_star_dust_approx;
		a {
			float: left;
			color: $color_chicago_approx;
			text-align: center;
			padding: 40px 20px;
			text-decoration: none;
			font-size: 50px;
			width: 20%;
		}
		p {
			position: relative;
			left: 30%;
			color: $color_chicago_approx;
			text-align: center;
			padding: 14px;
			margin: 0;
			text-decoration: none;
		}
	}
	.profile--name-mobile {
		margin-left: 30%;
		margin-top: 100px;
	}
	.menu-right {
		margin-left: 0;
	}
	.mobile-edit {
		position: relative;
		float: right;
		background-color: $gray;
		padding: 10px 20px;
	}
	.desktop-hide {
		display: initial;
	}
}
@media only screen and(min-device-width: 414px) and(max-device-width: 1100px) {
	.menu-right {
		margin-left: 27%;
	}
	.topnav p {
		position: relative;
		left: 16%;
		color: $color_chicago_approx;
		text-align: center;
		padding: 14px;
		margin: 0;
		text-decoration: none;
	}
}
.container div {
	display: inline-block;
}